// Base Styles
// ----------
//
// ==========

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Clearfix
// --------
@mixin cf {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

html {
  // Use border-box for everything
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: $font-family-base;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    border-bottom: 1px solid $color-brand-blue-dk;
  }
}

.logo {
  float: left;
  h1 {
    margin: 0;
    padding: 8px 0 0;
    font-size: 18px;
    a {
      color: $color-brand-blue;
      &:hover,
      &:focus {
        border-bottom: 0;
        color: $color-brand-orange-lt;

      }
    }
  }
}